{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row mt-5" style="min-height: 800px;">
        {% if complaints %}
        {% for x in complaints %}
        <div class="col-lg-4 col-md-6  col-sm-12 text-center" >
            <div class="card-header bg-light">
                Top {{ x[0] }}
            </div>
            <div class="card  mb-3 " style="height:500px;background-color: white;">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="image-box">
                                <img class="d-block card-img-top img-responsive ratio ratio-16x9"
                                     src="uploads/{{ x[-3].split(',')[0] }}"
                                     height="200px" alt="Card image cap">
                            </div>
                        </div>
                        {% for x in x[-3].split(',')[1:] %}
                        <div class="carousel-item">
                            <div class="image-box">
                                <img class="d-block card-img-top img-responsive ratio ratio-16x9"
                                     src="uploads/{{ x }}"
                                     height="200px" alt="Card image cap">
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="card-body bg-light" style="background-color: white">
                    <h5 class="col-12">{{ x[1] }}</h5>
                    <p class="col-12 card-text">{{ x[2] }}</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.google.com/maps/place/{{ x[3] }}"
                       class="footer btn btn-primary w-100">Location</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>Currently No Complaints</h1>
        {% endif %}

    </div>
</div>
{% endblock %}